body {
  background-image: url(bisli.jpg);
  background-size: cover;
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: underline;
  font-weight: bolder;
  color: red;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}
p {
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(147, 80, 255);
  font-weight: bold;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}
.wallak {
  font-size: xx-large;
  color: rgb(255, 0, 0);
  font-weight: bold;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

